/*------------------------------------------*/
/* Character Sheet Header Section           */
/*------------------------------------------*/

.header-container {
  width: 840px;
  height: 88px;
 }

.img-logo-head {
  width: 220px;
  height: 81px;
}

.div__char-name {
  border-radius: 15px;
  background: #D3D3D3;
  padding: 10px;
  width: 220px;
  height: 50 px;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-right: 0px;
  float: left;
}

.div__counters {
  border-radius: 15px;
  background: #D3D3D3;
  width: 385px;
  height: 85px;
  margin-bottom: 5px;
  margin-left: 2px;
  padding-top: 3px;
  padding-right: 0px;
  float: left;
}


.div-bi-value-pill-box {
  border-radius: 15px 15px 15px 15px;
  background: #FFFFFF;
  border-style: double;
  border-color: #808080;
  padding: -1px;
  width: 115px;
  height: 32px;
  margin-top: -2px;
  margin-bottom: 0px;
  margin-left: 5px;
  float: left;
}

.input-number__counter {
  border-radius: 0%;
  text-align: right;
  box-sizing: content-box !important;
  border: none;
  margin-left: 4px;
  padding: 3px 0px 0px 6px; 
  margin-top: 3px !important;
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: bold;
  font-size: 16px;
  width: 44px !important;
  height: 16px !important;
  outline: none;
  float: left;
}

.input-number__counter-max:focus {
  outline: none;
}    

.p-fullremain-label {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 10px;
  height: 10px;
  line-height: 1;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left:10px; 
  font-weight:bold;
  font-style: italic;
  clear: both;
}

.p-major-wound {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 13px;
  height: 13px;
  line-height: 1;
  padding: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 8px; 
  font-weight:bold;
  float: left;
}

.div-major-wound {
  float: left;
  margin-top: 6px;
  margin-left: 10px;
}

/* Hide & show major wound description */

.input-cb-maj-wound { 
  margin-top: 1px !important;
}


.input-text-maj-wound-desc {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 14px;
  height: 18px !important;
  width: 250px !important;
  padding: 2px 2px 2px 2px;
  line-height: 1;
  font-weight:500;
  margin-left:8px;
  float: left;
}

.input-ctr-maj-wound-text-display[value="1"] ~ .input-text-maj-wound-desc {
  display:block;
}
.input-ctr-maj-wound-text-display[value="0"] ~ .input-text-maj-wound-desc {
  display:none;
}



.div__left {
  float:left;
}

/*Configure the tab buttons*/
.page1,
.page2,
.page3 {
    display: none;
}

/* show the selected tab */
.tabstoggle[value="page1"] ~ div.page1,
.tabstoggle[value="page2"] ~ div.page2,
.tabstoggle[value="page3"] ~ div.page3 {
    display: block;
}

/*------------------------------------------*/
/* Character Sheet Page 1 Section           */
/*------------------------------------------*/

.div-p1 {
  width: 840px;
  height:auto;
}


/* page 1 column 1 section */

.div-p1col1 {
  padding: 01px;
  width: 200px;
  clear:left;
  float:left;
 }

.div__attributes {
  border-radius: 15px;
  background: #D3D3D3;
  padding: 10px 1px 5px 8px;
  width: 200px;
  height: 505px;
  margin-bottom: 5px;
}

.div-attrib-box {
  border-radius: 15px 15px 0px 0px;
  background: #FFFFFF;
  border-style: double;
  border-color: #808080;
  padding: 0px;
  width: 130px;
  height: 60px;
  margin-top: 0px;
  margin-bottom: 4px;
  float: left;
}


.div-attrib-box__full {
    background: #FFFFFF;
    border-style: solid solid none none;
    border-color: #808080;
    border-width: 2px;
    padding: 0px;
    width: 64px;
    height: 32px;
    margin-bottom: 0px;
    float: left;
}
  
.div-attrib-box__curr {
    background: #FFFFFF;
    border-style: solid none none none;
    border-color: #808080;
    border-width: 2px;
    padding: 0px;
    width: 64px;
    height: 32px;
    margin-bottom: 0px;
    float: left;
}
  
.div-attrib-box__mod {
    border-radius: 15px 15px 15px 15px;
    background: #FFFFFF;
    border-style: double;
    border-color: #808080;
    padding: 0px;
    width: 42px;
    height: 32px;
    margin-top: 4px;
    margin-bottom: 0px;
    float: left;
}
 
  

.input-number__attrib-box {
    box-sizing: content-box !important;
    border-style: none;
    margin-left: 14px; 
    margin-top: 4px !important;
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 42px !important;
    height: 18px !important;
}


.input-number__attrib-box:focus {
    outline: none;
}    

.input-number__mod-box,
.input-number__mod-box:disabled {
    background: #FFFFFF;
    box-sizing: content-box !important;
    border-style: none;
    margin-left: 4px; 
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 4px !important;
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    width: 30px !important;
    height: 18px !important;
    outline: none;
    text-align: center;
}



.input-text__border--trans {
    box-sizing: content-box;
    border: 0px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: 2px solid #808080;
    font-weight: bold;
}

.input-text__border--trans:focus {
    box-sizing: content-box;
    outline: 2px solid #000000;
    font-weight: bold;
}


.p__font--helvetica {
    font-family: Helvetica, Verdana, sans-serif;
    margin: 1px;
    padding: 0px;
    font-weight: bold;  
}

.p__font-size__11 {
    font-size: 11px;
    line-height: 1.3em;
}

.p__font-size__14 {
  font-size: 14px;
  line-height: 1.3em;
}


.p__font-size__16 {
    font-size: 16px;
    line-height: 1.3em;
}


.p-attr-name {
    font-family: Helvetica, Verdana, sans-serif;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    padding: 0px;
    margin: 4px 2px 4px 2px;
}

.p-attr-fullcurr-label {
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 14px;
    margin-left:10px; 
    font-weight:bold;
    margin-top: 40px;
}

/* page 1 column 2 section */

.div-p1col2 {
  border-radius: 15px 15px 0px 15px;
  background: #D3D3D3;
  padding: 01px;
  width: 618px;
  float:left;
  margin-left: 13px;
 }


.div__defense {
  border-radius: 15px;
  border-style: groove;
  background: #FFFFFF;
  width: 240px;
  height: 180px;
  margin: 5px 5px 4px 5px;
  float:left;
}

.div-defense-row1 {
  width: 235px;
  background-color: #EFEEEA;
  padding: 10px 0px 10px 5px;
  margin-top: 4px;
  clear:both;
  display:inline-block;
  vertical-align: middle;
}


.p-box-text {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 10px;
  height: 10px;
  line-height: 1;
  padding: 0px;
  margin-top: -2px;
  margin-bottom: 0px;
  font-weight:bold;
  font-style: italic;
}

.input-defense-talent-mod {
  height: 12px;
  border-radius: 15px;
  border-style:solid;
  border-width: 2px;
  font-size: 13px;
  font-weight: bold;
  margin-top: -5px;
  padding-right: 0px;
  padding-left:0px;
  text-align: center;
  width:40px !important;

}

.div-defense-row2 {
  width: 230px;
  padding: 11px 3px 3px 6px;
  clear:both;
  display:inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-left: 14px;
}

.input-defense-talent-mod:focus {
  outline:none;
}



.div-def-rate-disp {
  border-radius: 15px 15px 15px 15px;
  background: #D3D3D3;
  border-style: double;
  border-color: #808080;
  padding: 0px;
  width: 38px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 0px;
  float: left;
}

.input-def-box,
.input-def-box:disabled {
    background: #D3D3D3;
    box-sizing: content-box !important;
    border-style: none;
    margin-left: 4px; 
    margin-top: 4px !important;
    font-family: Helvetica, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 20px !important;
    height: 16px !important;
    outline: none;
    text-align: center;
}

.div-def-shield-rating {
  background-image: url("https://raw.githubusercontent.com/Sorrows-Tale/roll20-character-sheets/master_v0.1/Sorrows_Tale/shield.png");
  background-size: 46px 50px;
  height: 50px;
  width: 46px;
  float:left;
}

.input-shield-rating {
  background-color: transparent;
  text-align: center;
  border-style: none;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
  padding: 0px;
  margin-top: 5px !important;
  margin-left: 12px;
  height: 36px !important;
  width: 34px !important;
}

.img-def-ribbon {
  width: 224px;
  height: 41px;
  margin: 3px 5px 2px 7px;
  clear:both;
}


.div__armor_ratings {
  border-radius: 15px;
  border-style: groove;
  background: #FFFFFF;
  width: 350px;
  height: 180px;
  margin: 5px 5px 4px 0px;
  float:left;
}

.img-armor-ribbon {
  width: 223px;
  height: 39px;
  margin: 3px 5px 0px 62px;
  clear:both;
}

.div-armor-row1 {
  width: 345px;
  padding: 0px 0px 10px 5px;
  margin-top: 0px;
  clear:both;
  display:inline-block;
  vertical-align: middle;
}

.div-armor-ratetype {
  background-image: url("https://raw.githubusercontent.com/Sorrows-Tale/roll20-character-sheets/master_v0.1/Sorrows_Tale/armor.png");
  background-size: 55px 51px;
  margin-left: 12px;
  height: 51px;
  width: 55px;
  float:left;
}

.p-armor-rate-text {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 12px;
  height: 12px;
  line-height: 1;
  padding: 0px;
  margin-top: -2px;
  margin-bottom: 0px;
  font-weight:bold;
  font-style: italic;
}

.input-armor-rating {
  background-color: transparent;
  text-align: center;
  border-style: none;
  outline: none;
  font-size: 18px;
  font-weight: bolder;
  padding: 0px;
  margin-top: 9px !important;
  margin-left: 16px;
  height: 36px !important;
  width: 34px !important;
}

.input-dam-resist {
  background-color: transparent;
  text-align: center;
  border-style: none;
  outline: none;
  font-size: 16px;
  font-weight: bolder;
  padding: 0px;
  margin-top: 0px !important;
  margin-left: 8px;
  height: 36px !important;
  width: 42px !important;
}

.div-box-dam-resist {
  border-radius: 15px 15px 15px 15px;
  border-style: double;
  background: #FFFFFF;
  border-color: #808080;
  padding: 0px;
  padding-left: 0px;
  width: 48px;
  height: 32px;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 12px;
  float: left;
}

.div-box-dam-resist[name="perc"] {
  background-image: url("https://raw.githubusercontent.com/Sorrows-Tale/roll20-character-sheets/master_v0.1/Sorrows_Tale/dam_resist.png");
  background-repeat: no-repeat;
}

.p-armor-dam-text {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 11px;
  height: 12px;
  line-height: 1;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 0px;
  margin-left: -4px;
  font-weight:bold;
  font-style: italic;
}

.div-armor-row2 {
  width: 345px;
  padding: 8px 0px 10px 5px;
  margin-top: 0px;
  clear:both;
  display:inline-block;
  vertical-align: middle;
}

/* page 1, column 2, 2nd row, Actions Section */

.div-actions {
  border-radius: 15px 0px 0px 15px;
  border-style: groove;
  background: #FFFFFF;
  width: 602px;
  height: 314px;
  margin: 1px 5px 4px 5px;
  overflow-y:scroll;
}

.div-top-band {
  background-color: #EFEEEA;
}



.div-action-repeating {
  width:580px;
  clear: both;
  float:left;
}

.input-action-type {
  width: 63px;
  height: 20px !important;
  padding: 0px;
  font-size: 14px;
  margin-left: 4px;
  margin-top: 1px;
  float:left;
}

.input-action-desc {
  width: 120px;
  height: 20px !important;
  font-size: 14px;
  padding:0 px;
  margin-left: 4px;
  float:left;
}

.input-action-numdice {
  width: 10px;
  height: 20px !important;
  font-size: 12px;
  padding:0 px;
  margin-left: 4px;
  float:left;
}

.input-action-die {
  width: 50px;
  height: 20px !important;
  font-size: 14px;
  padding:0 px;
  margin-left: 4px;
  float:left;
}

.input-action-roll {
  padding:0 px;
  margin-left: 4px;
}







/*------------------------------------------*/
/* Roll Template Section                    */
/* sheet-rolltemplate-sorrowstale-ability   */
/*------------------------------------------*/
.sheet-rolltemplate-sorrowstale-ability {
    margin-left: -30px;
    color: #A5A299; 
}
  
.sheet-rolltemplate-sorrowstale-ability .sheet-container {
  background-image: url("https://raw.githubusercontent.com/Sorrows-Tale/roll20-character-sheets/master_v0.1/Sorrows_Tale/ability_check.png");
  background-size: 245px 165px;
  height: 165px;
  width: 245px;
}

.sheet-rolltemplate-sorrowstale-ability .sheet-ability-roll{
  width: 245px;
  height: 90px;
  text-align: center;
  font-weight: bold;
}

.sheet-rolltemplate-sorrowstale-ability .sheet-ability-roll-footer{
  width: 245px;
  height: 75px;
  margin-top: 16px;
  text-align: center;
}

.sheet-rolltemplate-sorrowstale-ability .sheet-ability-font{
  font-size: 1.55em;
  font-weight: bold;
  font-style: italic;
  height: 30px;
  display: inline-block;
  padding-top: 13px;
}


.sheet-rolltemplate-sorrowstale-ability .inlinerollresult  {
  background-color: #1C506A;
  color: #A0B4B8C5; 
  border: none;
  font-size: 2.3em;
}

.sheet-rolltemplate-sorrowstale-ability .inlinerollresult.fullcrit {
  color: #3FB315;
  border: none;
}

.sheet-rolltemplate-sorrowstale-ability .inlinerollresult.fullfail {
  color: #FF0000;
  border: none;
}






  .withoutavatars .sheet-rolltemplate-sorrowstale {
    margin-left: -7px;
  }
  
  .sheet-rolltemplate-sorrowstale1 .sheet-container {
    border: 3px solid black;
    border-radius: 3px;
  }
  
  .sheet-rolltemplate-sorrowstale .sheet-header {
    background-color: var(--header-bg-color);
    color: var(--header-text-color);
    text-align: left;
    text-transform: capitalize;
    padding: 5px;
    border-bottom: 2px solid black;
  }
  
  .sheet-rolltemplate-sorrowstale .sheet-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  
  
  .sheet-rolltemplate-sorrowstale .sheet-subtitle {
    font-size: 0.9em;
  }
  
  .sheet-rolltemplate-sorrowstale .sheet-container {
    --header-bg-color: #a83521;
    --header-text-color: #FFF;
  }
  .sheet-rolltemplate-sorrowstale .sheet-container.sheet-color-green {
    --header-bg-color: #008000;
  }
  .sheet-rolltemplate-sorrowstale .sheet-container.sheet-color-black {
    --header-bg-color: #000;
  }
  .sheet-rolltemplate-sorrowstale .sheet-container.sheet-color-white {
    --header-bg-color: #FFF;
    --header-text-color: #000;
  }
  
  .sheet-rolltemplate-sorrowstale .sheet-content {
    display: grid;
    background: #FFF;
    grid-template-columns: auto auto;
    line-height: 1.4em;
  }
  
  .sheet-rolltemplate-sorrowstale .sheet-content > div {
    padding: 5px;
  }
  
  .sheet-rolltemplate-sorrowstale .sheet-content .sheet-key {
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
  }
  
  .sheet-rolltemplate-sorrowstale .sheet-content :nth-child(4n+3),
  .sheet-rolltemplate-sorrowstale .sheet-content :nth-child(4n) {
    background: #EEE;
  }
  
  .sheet-rolltemplate-sorrowstale .sheet-desc {
    grid-column: span 2;
    padding: 5px;
    text-align: center;
  }